workDir = "work"
testsDir = "tests"
reportsDir = ".nf-test/reports"

conda {
    enabled = true
    cacheDir = ".nf-test/conda"
    createTimeout = "30 min"
}

docker {
    enabled = true
    engineOptions = "--platform linux/amd64"
}

singularity {
    enabled = true
    cacheDir = ".nf-test/singularity"
}

// Configure default values for all tests
defaults {
    configCopy = "tests/config/nextflow.config"
} 